<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <config>
    <add key="repositorypath" value="packages" />
  </config>
  <packageSources>
    <add key="MLM NuGet" value="https://enet3.mlmins.com/nuget/repo/" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <disabledPackageSources />
  <apikeys>
    <add key="MLM NuGet" value="c0B,7m:X#Qh*Q8PBi9Sfmb6.Dejez3EvRXNi5tL3]_aRgBVwlcFN~R(FEic5)9Hw" />
  </apikeys>
</configuration>